<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
	<connectionStrings>
  <add name="anjuConnectionString" connectionString="Data Source=./;Initial Catalog=anju;Integrated Security=True"
   providerName="System.Data.SqlClient" />
  <add name="anjuConnectionString2" connectionString="Data Source=DESKTOP-5V0EE5H;Initial Catalog=anju;Integrated Security=True"
   providerName="System.Data.SqlClient" />
 </connectionStrings>
 <system.web>
		<compilation debug="true" targetFramework="4.0"/>
	</system.web>
</configuration>
